[Unit]
Description=My Go Application
After=network.target

[Service]
ExecStart=/opt/nginx-depl/main
Restart=always
User=azureuser
Environment=PATH=/usr/bin:/usr/local/bin
Environment=GO_ENV=production

[Install]
WantedBy=multi-user.target